.ufc-referrer-share-links {
    top: -50px;
    left: 0;
    background: white;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ufc-referrer-share-links a {
    padding: 0 15px;
    width: 100px;
    border: 1px solid #ededed;
    background: white;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.ufc-referrer-share-links svg {
    max-width: 20px;
    max-height: 13px;
    float: left;
    text-align: center;
    margin-right: 5px;
}

.ufc-referrer-share-links svg path {
    fill: #977c42;
}

.ufc-referrer-share-links i {
    margin-right: 5px;
}

.ufc-description {
    margin-right: 20px;
    line-height: 1.5;
}

@media (max-width: 767px) {

    .ufc-referrer-share-links {
        flex-direction: column;
    }
    
    .ufc-referrer-share-links a {
        width: 100%;
        min-height: 37px;
    }

}

@media (min-width: 1024px) {

    .ufc-referrer-share-links .ufc-refer-sms {
        display: none;
    }

}